<div class="jumbotron">
    <p class="lead">Borregos en Engorda</p>
    <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Peso Nacimiento</th>
            <th scope="col">Fecha Destete</th>
            <th scope="col">Peso Destete</th>
            <th scope="col">Mes 1 Engorda</th>
            <th scope="col">Peso 1 Engorda</th>
            <th scope="col">Mes 2 Engorda</th>
            <th scope="col">Peso 2 Engorda</th>
            <th scope="col">Fecha Venta</th>
            <th scope="col">Peso Venta</th>
            <th scope="col">Precio KG Venta</th>
            <th scope="col">Precio Total Venta</th>
            <th scope="col">Sexo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>BORREGO-1</td>
            <td>2020-01-15</td>
            <td>2</td>
            <td>2020-03-15</td>
            <td>10</td>
            <td>2020-04-15</td>
            <td>21</td>
            <td>2020-04-15</td>
            <td>35</td>
            <td>2020-04-20</td>
            <td>38</td>
            <td>35</td>
            <td>1330</td>
            <td>Macho</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>BORREGO-2</td>
            <td>2020-01-17</td>
            <td>2.5</td>
            <td>2020-03-17</td>
            <td>13</td>
            <td>2020-04-17</td>
            <td>25</td>
            <td>2020-04-17</td>
            <td>40</td>
            <td>2020-04-20</td>
            <td>42</td>
            <td>35</td>
            <td>1470</td>
            <td>Macho</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>BORREGO-3</td>
            <td>2020-01-13</td>
            <td>3</td>
            <td>2020-03-13</td>
            <td>15</td>
            <td>2020-04-13</td>
            <td>30</td>
            <td>2020-04-13</td>
            <td>42</td>
            <td>2020-04-20</td>
            <td>45</td>
            <td>32</td>
            <td>1728</td>
            <td>Hembra</td>
          </tr>
        </tbody>
    </table>
</div>