<div class="jumbotron jumbotron-fluid">
    <p class="lead">Borregos en Engorda</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Nacimiento</th>
            <th scope="col">Peso Nacimiento</th>
            <th scope="col">Fecha Destete</th>
            <th scope="col">Peso Destete</th>
            <th scope="col">Mes 1 Engorda</th>
            <th scope="col">Peso 1 Engorda</th>
            <th scope="col">Mes 2 Engorda</th>
            <th scope="col">Peso 2 Engorda</th>
            <th scope="col">Fecha Venta</th>
            <th scope="col">Peso Venta</th>
            <th scope="col">Precio KG Venta</th>
            <th scope="col">Precio Total Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">1</th>
            <th scope="col">BORREGO-1</th>
            <th scope="col">2020-01-15</th>
            <th scope="col">2</th>
            <th scope="col">2020-03-15</th>
            <th scope="col">10</th>
            <th scope="col">2020-04-15</th>
            <th scope="col">21</th>
            <th scope="col">2020-04-15</th>
            <th scope="col">35</th>
            <th scope="col">2020-04-20</th>
            <th scope="col">38</th>
            <th scope="col">35</th>
            <th scope="col">1330</th>
            <th scope="col">Macho</th>
          </tr>
          <tr>
            <th scope="col">2</th>
            <th scope="col">BORREGO-2</th>
            <th scope="col">2020-01-17</th>
            <th scope="col">2.5</th>
            <th scope="col">2020-03-17</th>
            <th scope="col">13</th>
            <th scope="col">2020-04-17</th>
            <th scope="col">25</th>
            <th scope="col">2020-04-17</th>
            <th scope="col">40</th>
            <th scope="col">2020-04-20</th>
            <th scope="col">42</th>
            <th scope="col">35</th>
            <th scope="col">1470</th>
            <th scope="col">Macho</th>
          </tr>
          <tr>
            <th scope="col">3</th>
            <th scope="col">BORREGO-3</th>
            <th scope="col">2020-01-13</th>
            <th scope="col">3</th>
            <th scope="col">2020-03-13</th>
            <th scope="col">15</th>
            <th scope="col">2020-04-13</th>
            <th scope="col">30</th>
            <th scope="col">2020-04-13</th>
            <th scope="col">42</th>
            <th scope="col">2020-04-20</th>
            <th scope="col">45</th>
            <th scope="col">32</th>
            <th scope="col">1728</th>
            <th scope="col">Hembra</th>
          </tr>
        </tbody>
    </table>
</div>